<%= render partial: "/erb/sys/variable" %>

<div data-index="1" data-type="<%= $row %>" data-child="8"><div class="in">
	<div class="hd"><div class="in">
		<h3><span><a href="#">輪播</a></span></h3>
	</div></div>
	<div class="ct"><div class="in">

	<!-- slider 主輪播 -->
		<%= render partial: "/erb/group/group-list_major-slider", locals: set({ index: 1, func_set: "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", header_text: "主輪播" }) %>
	<!-- slider 結束 -->

	<!-- marquee-slider 跑馬燈輪播 -->
		<%= render partial: "/erb/group/group-list_marquee-slider", locals: set({ index: 2, func_set: "{'marqueeHorizontal':{'auto':false,'delay':5000,'speed':500}}", header_text: "輪播" }) %>
	<!-- marquee-slider 結束 -->

	<!-- slider 輪播 -->
		<%= render partial: "/erb/module/list-pic_slider", locals: set({ index: 3, func_set: "{'marqueeStraight':{'auto':false,'delay':5000,'speed':300}}", header_text: "輪播" }) %>
	<!-- slider 結束 -->

	<!-- slider 輪播 -->
		<%= render partial: "/erb/module/list-pic_slider", locals: set({ index: 4, func_set: "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", header_text: "輪播" }) %>
	<!-- slider 結束 -->

	<!-- slider 輪播 -->
		<%= render partial: "/erb/module/list-text_slider", locals: set({ index: 5, func_set: "{'marqueeStraight':{'auto':false,'delay':5000,'speed':300}}", header_text: "輪播" }) %>
	<!-- slider 結束 -->

	<!-- slider 輪播 -->
		<%= render partial: "/erb/module/list-text_slider", locals: set({ index: 6, func_set: "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", header_text: "輪播" }) %>
	<!-- slider 結束 -->

	<!-- classical-slider 古典輪播 -->
		<%= render partial: "/erb/group/group-list_classical-slider", locals: set({ index: 7, func_set: "{'marqueeStraight':{'auto':false,'delay':5000,'speed':300}}", header_text: "輪播", inner: "/erb/module/area-essay_message" }) %>
	<!-- classical-slider 結束 -->

	<!-- classical-slider 古典輪播 -->
		<%= render partial: "/erb/group/group-list_classical-slider", locals: set({ index: 8, func_set: "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", header_text: "輪播", inner: "/erb/module/area-essay_message" }) %>
	<!-- classical-slider 結束 -->

	</div></div>
</div></div>

<div data-index="2" data-type="<%= $row %>" data-child="3"><div class="in">
	<div class="hd"><div class="in">
		<h3><span><a href="#">選單</a></span></h3>
	</div></div>
	<div class="ct"><div class="in">

	<!-- nav 選單 -->
		<%= render partial: "/erb/module/list-text_nav", locals: set({ index: 1, header_text: "選單" }) %>
	<!-- nav 結束 -->

	<!-- nav 選單 -->
		<%= render partial: "/erb/group/group-list_nav", locals: set({ index: 2, func_set: "{'majorNavStraight':{}}", header_text: "主選單", inner: "/erb/module/list-text_nav" }) %>
	<!-- nav 結束 -->

	<!-- minor-nav 次選單 -->
		<%= render partial: "/erb/module/list-text_minor-nav", locals: set({ index: 3, header_text: "次選單" }) %>
	<!-- minor-nav 結束 -->

	</div></div>
</div></div>

<div data-index="3" data-type="<%= $row %>" data-child="5"><div class="in">
	<div class="hd"><div class="in">
		<h3><span><a href="#">連結</a></span></h3>
	</div></div>
	<div class="ct"><div class="in">

	<!-- link 連結 -->
		<%= render partial: "/erb/module/list-text_link", locals: set({ index: 1, header_text: "連結" }) %>
	<!-- link 結束 -->

	<!-- link 連結 -->
		<%= render partial: "/erb/module/list-pic_link", locals: set({ index: 2, header_text: "連結" }) %>
	<!-- link 結束 -->

	<!-- link 連結 -->
		<%= render partial: "/erb/group/group-list_link", locals: set({ index: 3, header_text: "連結", inner: "/erb/module/area-essay_link" }) %>
	<!-- link 結束 -->

	<!-- link 連結 -->
		<%= render partial: "/erb/module/area-essay_link", locals: set({ index: 4, header_text: "連結" }) %>
	<!-- link 連結 -->

	<!-- link 連結 -->
		<%= render partial: "/erb/module/area-form_link", locals: set({ index: 5, func_set: "{'selectLink':{}}", header_text: "連結" }) %>
	<!-- link 結束 -->

	</div></div>
</div></div>

<div data-index="4" data-type="<%= $row %>" data-child="3"><div class="in">
	<div class="hd"><div class="in">
		<h3><span><a href="#">相簿</a></span></h3>
	</div></div>
	<div class="ct"><div class="in">

	<!-- link 連結 -->
		<%= render partial: "/erb/module/list-pic_album", locals: set({ index: 1, header_text: "相簿" }) %>
	<!-- link 結束 -->

	<!-- album 相簿 -->
		<%= render partial: "/erb/module/area-figure_album", locals: set({ index: 2, header_text: "相簿" }) %>
	<!-- album 結束 -->

	<!-- album 相簿 -->
		<%= render partial: "/erb/group/group-list_album", locals: set({ index: 3, header_text: "相簿", inner: "/erb/module/area-figure_album" }) %>
	<!-- album 結束 -->

	</div></div>
</div></div>

<div data-index="5" data-type="<%= $row %>" data-child="2"><div class="in">
	<div class="hd"><div class="in">
		<h3><span><a href="#">訊息</a></span></h3>
	</div></div>
	<div class="ct"><div class="in">

	<!-- message 訂閱 -->
		<%= render partial: "/erb/module/list-text_message", locals: set({ index: 1, header_text: "訊息" }) %>
	<!-- message 結束 -->

	<!-- message 訊息 -->
		<%= render partial: "/erb/module/area-essay_message", locals: set({ index: 2, header_text: "訊息" }) %>
	<!-- message 結束 -->

	<!-- message 訊息 -->
		<%= render partial: "/erb/group/group-list_message", locals: set({ index: 1, header_text: "訊息", inner: "/erb/module/area-essay_message" }) %>
	<!-- message 結束 -->

	</div></div>
</div></div>

<div data-index="6" data-type="<%= $row %>" data-child="6"><div class="in">
	<div class="hd"><div class="in">
		<h3><span><a href="#">客制</a></span></h3>
	</div></div>
	<div class="ct"><div class="in">

	<!-- calender 月曆 -->
		<%= render partial: "/erb/module/area-customize_calender-detail", locals: set({ index: 1, header_text: "月曆" }) %>
	<!-- calender 結束 -->

	<!-- calender 月曆 -->
		<%= render partial: "/erb/module/area-customize_calender", locals: set({ index: 2, header_text: "月曆" }) %>
	<!-- calender 結束 -->

	<!-- video 視訊 -->
		<%= render partial: "/erb/module/area-customize_video", locals: set({ index: 3, func_set: "{'player':{}}", header_text: "視訊" }) %>
	<!-- video 結束 -->

	<!-- audio 音訊 -->
		<%= render partial: "/erb/module/area-customize_audio", locals: set({ index: 4, header_text: "音訊" }) %>
	<!-- audio 結束 -->

	<!-- chart 圖表 -->
		<%= render partial: "/erb/module/area-customize_chart", locals: set({ index: 5, header_text: "圖表" }) %>
	<!-- chart 結束 -->

	<!-- iframe 框架 -->
		<%= render partial: "/erb/module/area-customize_iframe", locals: set({ index: 6, header_text: "框架" }) %>
	<!-- iframe 結束 -->

	<!-- map 地圖 -->
		<%= render partial: "/erb/module/area-customize_map", locals: set({ index: 7, header_text: "地圖" }) %>
	<!-- map 結束 -->

	</div></div>
</div></div>

<div data-index="7" data-type="<%= $row %>" data-child="10"><div class="in">
	<div class="hd"><div class="in">
		<h3><span><a href="#">其他</a></span></h3>
	</div></div>
	<div class="ct"><div class="in">

	<!-- anchor 錨點 -->
		<%= render partial: "/erb/module/list-text_anchor", locals: set({ index: 1, func_set: "{'anchor':{'bindNode':'body','speed':300}}", header_text: "錨點" }) %>
	<!-- anchor 結束 -->

	<!-- countdown 倒數日 -->
		<%= render partial: "/erb/module/simple-text_countdown", locals: set({ index: 2, func_set: "{'countdown':{'year':2016,'month':10,'day':15,'hour':18,'minute':25,'second':0,'delayTime':1000,'lang':'tw','arrivedMessage':'now !'}}", header_text: "距離大年初三" }) %>
	<!-- countdown 結束 -->

	<!-- weather 天氣 -->
		<%= render partial: "/erb/module/simple-text_weather", locals: set({ index: 3, header_text: "天氣" }) %>
	<!-- weather 結束 -->

	<!-- default 預設 -->
		<%= render partial: "/erb/module/simple-text_default", locals: set({ index: 4, header_text: "文字" }) %>
	<!-- default 結束 -->

	<!-- default 預設 -->
		<%= render partial: "/erb/module/simple-pic_default", locals: set({ index: 5, header_text: "圖片" }) %>
	<!-- default 結束 -->

	<!-- vote 投票 -->
		<%= render partial: "/erb/module/area-form_vote", locals: set({ index: 6, header_text: "投票" }) %>
	<!-- vote 結束 -->

	<!-- epaper 電子報 -->
		<%= render partial: "/erb/module/area-form_epaper", locals: set({ index: 7, header_text: "訂閱電子報" }) %>
	<!-- epaper 結束 -->

	<!-- default 預設 -->
		<%= render partial: "/erb/module/area-editor_default", locals: set({ index: 8, header_text: "圖文區塊" }) %>
	<!-- default 結束 -->

	<!-- default 預設 -->
		<%= render partial: "/erb/group/group-list_default", locals: set({ index: 9, header_text: "預設列表", inner: "/erb/module/area-essay_message" }) %>
	<!-- default 結束 -->

	<!-- tab 頁籤 -->
		<%= render partial: "/erb/group/group-tab_default", locals: set({ index: 10, func_set: "{'tab':{}}", header_text: "頁籤", show_footer: false, :inner =>  "/erb/group/group-list_message" }) %>
	<!-- tab 結束 -->

	</div></div>
</div></div>