<div data-index="1" data-type="<%= $row %>" data-child="1"><div class="inner">
	<div class="header"><div class="inner">
		<h3><span><a></a></span></h3>
	</div></div>
	<div class="content"><div class="inner">

	<!-- slider 主輪播 -->
		<%= render :partial => "/Erb/group/group-list_major-slider", :locals => { :index => 1, :func_set => "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", :header_text => '主輪播', :show_footer => true, :inner => "/Erb/module/simple-pic_default" } %>
	<!-- slider 結束 -->
	
	</div></div>
</div></div>

<div data-index="2" data-type="<%= $cell %>" data-child="4"><div class="inner">
	<div class="header"><div class="inner">
		<h3><span><a></a></span></h3>
	</div></div>
	<div class="content"><div class="inner">

	<div data-index="1" data-type="<%= $row %>" data-child="6"><div class="inner">
		<div class="header"><div class="inner">
			<h3><span><a></a></span></h3>
		</div></div>
		<div class="content"><div class="inner">

		<!-- list-text 選單 -->
			<%= render :partial => "/Erb/module/list-text_nav", :locals => { :index => 1, :func_set => nil, :header_text => '選單' } %>
		<!-- list-text 結束 -->

		<!-- group-list_nav 選單列表 -->
			<%= render :partial => "/Erb/group/group-list_nav", :locals => { :index => 2, :func_set => "{'majorNavSraight':{}}", :header_text => '主選單' } %>
		<!-- group-list_nav 結束 -->

		<!-- minor-nav 次選單 -->
			<%= render :partial => "/Erb/module/list-text_minor-nav", :locals => { :index => 3, :func_set => nil, :header_text => '次選單' } %>
		<!-- minor-nav 結束 -->

		<!-- calender 月曆 -->
			<%= render :partial => "/Erb/module/area-form_calender", :locals => { :index => 4, :func_set => nil, :header_text => '月曆', :show_footer => true } %>
		<!-- calender 結束 -->

		<!-- map 地圖 -->
			<%= render :partial => "/Erb/module/area-customize_map", :locals => { :index => 5, :func_set => "{'map':{'height': '220px','set':{'center':{'lat':23.5825975,'lng':120.75},'scrollwheel':false,'styles':[],'zoom':6},'marker':[{'台中':{'lat':24.1477358,'lang':120.6736482,'msg':'說明文字'}},{'臺東':{'lat':23.15634,'lang':121.0961322551,'msg':'說明文字'}}]}}", :header_text => '地圖', :show_footer => true } %>
		<!-- map 結束 -->

		</div></div>
	</div></div>

	<div data-index="2" data-type="<%= $row %>" data-child="8"><div class="inner">
		<div class="header"><div class="inner">
			<h3><span><a></a></span></h3>
		</div></div>
		<div class="content"><div class="inner">

		<!-- rss 訂閱 -->
			<%= render :partial => "/Erb/module/list-text_rss", :locals => { :index => 1, :func_set => nil, :header_text => '投票', :show_footer => true, :show_mark => true } %>
		<!-- rss 結束 -->

		<!-- anchor 錨點 -->
			<%= render :partial => "/Erb/module/list-text_anchor", :locals => { :index => 2, :func_set => "{'anchor':{'bindNode':'body','speed':300}}", :header_text => '錨點' } %>
		<!-- anchor 結束 -->

		<!-- weather 天氣 -->
			<%= render :partial => "/Erb/module/simple-text_weather", :locals => { :index => 3, :func_set => nil, :header_text => '錨點', :show_mark => true } %>
		<!-- weather 結束 -->

		<!-- epaper 電子報 -->
			<%= render :partial => "/Erb/module/area-form_epaper", :locals => { :index => 4, :func_set => nil, :header_text => '訂閱電子報' } %>
		<!-- epaper 結束 -->

		<!-- default 預設 -->
			<%= render :partial => "/Erb/module/area-video_default", :locals => { :index => 5, :func_set => nil, :header_text => '視訊', :show_footer => true } %>
		<!-- default 結束 -->

		<!-- default 預設 -->
			<%= render :partial => "/Erb/module/area-audio_default", :locals => { :index => 6, :func_set => nil, :header_text => '音訊', :show_footer => true } %>
		<!-- default 結束 -->

		<!-- default 預設 -->
			<%= render :partial => "/Erb/module/area-iframe_default", :locals => { :index => 7, :func_set => nil, :header_text => '框架', :show_footer => false } %>
		<!-- default 結束 -->

		<!-- default 預設 -->
			<%= render :partial => "/Erb/module/area-editor_default", :locals => { :index => 8, :func_set => nil, :header_text => '自訂標題' } %>
		<!-- default 結束 -->

		</div></div>
	</div></div>

	<div data-index="3" data-type="<%= $row %>" data-child="9"><div class="inner">
		<div class="header"><div class="inner">
			<h3><span><a></a></span></h3>
		</div></div>
		<div class="content"><div class="inner">

		<!-- default 預設 -->
			<%= render :partial => "/Erb/module/simple-pic_default", :locals => { :index => 1, :func_set => nil, :header_text => '圖片', :show_footer => true } %>
		<!-- default 結束 -->

		<!-- default 預設 -->
			<%= render :partial => "/Erb/module/simple-text_default", :locals => { :index => 2, :func_set => nil, :header_text => '文字', :show_footer => true } %>
		<!-- default 結束 -->

		<!-- slider 輪播 -->
			<%= render :partial => "/Erb/module/list-pic_slider", :locals => { :index => 3, :func_set => "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", :header_text => '輪播', :show_footer => true } %>
		<!-- slider 結束 -->

		<!-- slider 輪播 -->
			<%= render :partial => "/Erb/module/list-text_slider", :locals => { :index => 4, :func_set => nil, :header_text => '輪播', :show_footer => true } %>
		<!-- slider 結束 -->

		<!-- tab 頁籤 -->
			<%= render :partial => "/Erb/group/group-tab_default", :locals => { :index => 5, :func_set => "{'tab':{}}", :header_text => '頁籤', :show_footer => true, :inner => "/Erb/module/area-essay_message" } %>
		<!-- tab 結束 -->

		<!-- message 訊息 -->
			<%= render :partial => "/Erb/module/area-essay_message", :locals => { :index => 6, :func_set => nil, :header_text => '訊息' } %>
		<!-- message 結束 -->

		<!-- classical-slider 古典輪播 -->
			<%= render :partial => "/Erb/group/group-list_classical-slider", :locals => { :index => 7, :func_set => "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", :header_text => '輪播', :show_footer => true, :inner => "/Erb/module/area-essay_message" } %>
		<!-- classical-slider 結束 -->

		<!-- message 訊息 -->
			<%= render :partial => "/Erb/group/group-list_message", :locals => { :index => 8, :func_set => nil, :header_text => '訊息', :show_footer => true } %>
		<!-- message 結束 -->

		<!-- classical-slider 古典輪播 -->
			<%= render :partial => "/Erb/group/group-list_classical-slider", :locals => { :index => 9, :func_set => "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", :header_text => '輪播', :show_footer => true, :inner => "/Erb/group/group-list_message" } %>
		<!-- classical-slider 結束 -->

		</div></div>
	</div></div>

	<div data-index="4" data-type="<%= $row %>" data-child="9"><div class="inner">
		<div class="header"><div class="inner">
			<h3><span><a></a></span></h3>
		</div></div>
		<div class="content"><div class="inner">

		<!-- link 連結 -->
			<%= render :partial => "/Erb/module/list-text_link", :locals => { :index => 1, :func_set => nil, :header_text => '連結', :show_footer => true, :show_mark => true } %>
		<!-- link 結束 -->

		<!-- classical-slider 古典輪播 -->
			<%= render :partial => "/Erb/group/group-list_classical-slider", :locals => { :index => 2, :func_set => "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", :header_text => '輪播', :show_footer => true, :inner => "/Erb/module/list-text_link" } %>
		<!-- classical-slider 結束 -->

		<!-- link 連結 -->
			<%= render :partial => "/Erb/module/list-pic_link", :locals => { :index => 3, :func_set => nil, :header_text => '連結', :show_footer => true } %>
		<!-- link 結束 -->

		<!-- classical-slider 古典輪播 -->
			<%= render :partial => "/Erb/group/group-list_classical-slider", :locals => { :index => 4, :func_set => "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", :header_text => '輪播', :show_footer => true, :inner => "/Erb/module/list-pic_link" } %>
		<!-- classical-slider 結束 -->

		<!-- link 連結 -->
			<%= render :partial => "/Erb/module/area-form_link", :locals => { :index => 5, :func_set => "{'selectLink':{}}", :header_text => '連結' } %>
		<!-- link 結束 -->

		<!-- album 相簿 -->
			<%= render :partial => "/Erb/module/area-figure_album", :locals => { :index => 6, :func_set => nil, :header_text => '相簿' } %>
		<!-- album 結束 -->

		<!-- classical-slider 古典輪播 -->
			<%= render :partial => "/Erb/group/group-list_classical-slider", :locals => { :index => 7, :func_set => "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", :header_text => '輪播', :show_footer => true, :inner => "/Erb/module/area-figure_album" } %>
		<!-- classical-slider 結束 -->

		<!-- album 相簿 -->
			<%= render :partial => "/Erb/group/group-list_album", :locals => { :index => 8, :func_set => nil, :header_text => '相簿', :show_footer => true } %>
		<!-- album 結束 -->

		<!-- classical-slider 古典輪播 -->
			<%= render :partial => "/Erb/group/group-list_classical-slider", :locals => { :index => 9, :func_set => "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", :header_text => '輪播', :show_footer => true, :inner => "/Erb/group/group-list_album" } %>
		<!-- classical-slider 結束 -->

		</div></div>
	</div></div>

	</div></div>
</div></div>

<div data-index="3" data-type="<%= $row %>" data-child="1"><div class="inner">
	<div class="header"><div class="inner">
		<h3><span><a></a></span></h3>
	</div></div>
	<div class="content"><div class="inner">

		<!-- marqee-slider 跑馬燈輪播 -->
			<%= render :partial => "/Erb/group/group-list_marqee-slider", :locals => { :index => 1, :func_set => nil, :header_text => '輪播', :show_footer => true, :inner => "/Erb/module/simple-pic_default" } %>
		<!-- marqee-slider 結束 -->

	</div></div>
</div></div>