<%
	min_li = 1 #最少的li數量
	max_li = 10 #最多的li數量
	min_width = 1 #最窄的選單寬度
	max_width = 6 #最寬的選單寬度
%>

<%
	li_length = rand( max_li + 1 - min_li ) + min_li
	nav_width = rand( max_width + 1 - min_width ) + min_width
%>

<div class="group-tsb tab" data-index="<%= index %>" data-type="2" data-child="<%= li_length %>"><div class="inner">
	<div class="header"><div class="inner">
		<h3><span><a href="#">頁籤</a></span></h3>
	</div></div>

	<% if ( li_length > 0 ) %>
		<div class="content"><div class="inner">
			<ul data-index="1" data-child="<%= li_length %>">
				<li data-index="1">

				<!-- tab 頁籤 -->
					<%= render :partial => '/Module/list-text_tab', :locals => { :index => 1 } %>
				<!-- tab 結束 -->

				</li>

				<% li_length.times do |i| %>
					<li data-index="<%= i + 2 %>">

					<!-- <%= inner %> -->
						<%= render :partial => '/Module/' + inner, :locals => { :index => 1 } %>
					<!-- <%= inner %> 結束 -->

					</li>
				<% end %>

			</ul>
		</div></div>
	<% end %>
</div></div>