<div class="simple-pic logo" data-index="<%= index %>" data-type="0"><div class="inner">
	<div class="header"><div class="inner">
		<h2><span><%= alt %></span></h2>
	</div></div>
	<div class="content"><div class="inner">
		<span style="background-image: url('<%= src %>');"><a href="#"><img src="<%= src %>" alt="<%= alt %>"></a></span>
	</div></div>
</div></div>