<style type="text/css">
	.module-captions {
		display: none;
	}
</style>

<div class="module-captions">//標題================================================================</div>

<!--title 文章標題 -->
	<%= render :partial => "/Erb/module/simple-text_title", :locals => { :index => 1, :class_set => nil, :func_set => nil, :header_text => nil } %>
<!-- title 結束 -->

<div class="module-captions">//詳細資訊================================================================</div>

<!-- detail 詳細資訊 -->
	<%= render :partial => "/Erb/module/list-text_detail", :locals => { :index => 2, :class_set => nil, :func_set => nil, :header_text => "詳細資訊" } %>
<!-- detail 結束 -->

<div class="module-captions">//文章區塊================================================================</div>

<!-- system-info 系統資訊 -->
	<%= render :partial => "/Erb/module/area-editor_system-info", :locals => { :index => 3, :class_set => nil, :func_set => nil, :header_text => nil } %>
<!-- system-info 結束 -->

<!-- user-edit 使用者編輯 -->
	<%= render :partial => "/Erb/module/area-editor_user-edit", :locals => { :index => 3, :class_set => nil, :func_set => nil, :header_text => nil } %>
<!-- user-edit 結束 -->

<div class="module-captions">//標籤區塊================================================================</div>

<!-- label 標籤 -->
	<%= render :partial => "/Erb/module/list-text_label", :locals => { :index => 3, :class_set => nil, :func_set => nil, :header_text => nil } %>
<!-- label 結束 -->


<div class="module-captions">//檔案下載================================================================</div>

<!-- file-download 檔案下載 -->
	<%= render :partial => "/Erb/module/list-text_file-download", :locals => { :index => 1, :class_set => nil, :func_set => nil, :header_text => "檔案下載" } %>
<!-- dfile-download 結束 -->

<!-- file-download-multiple 多重檔案下載列表 -->
	<%= render :partial => "/Erb/group/group-list_file-download-multiple", :locals => { :index => 2, :class_set => nil, :func_set => nil, :header_text => "多重檔案下載", :inner => "/Erb/module/list-text_file-download-multiple" } %>
<!-- file-download-multiple 結束 -->

<!-- pic-download 圖片下載 -->
	<%= render :partial => "/Erb/module/list-pic_pic-download", :locals => { :index => 3, :class_set => nil, :func_set => nil, :header_text => "圖片、影片下載" } %>
<!-- pic-download 結束 -->

<div class="module-captions">//選單================================================================</div>

<!-- nav 選單 -->
	<%= render :partial => "/Erb/module/list-text_nav" ,:locals => { :index => 4, :class_set => nil, :func_set => nil, :header_text => "單層選單" } %>
<!-- nav 結束 -->

<!-- group-list_nav 選單列表 -->
	<%= render :partial => "/Erb/group/group-list_nav", :locals => { :index => 5, :class_set => nil, :func_set => "{'majorNavStraight':{}}", :header_text => "主選單", :inner => "/Erb/module/list-text_nav" } %>
<!-- group-list_nav 結束 -->

<div class="module-captions">//按鈕================================================================</div>

<!-- btn 列表按鈕 -->
	<%= render :partial => "/Erb/module/list-text_btn", :locals => { :index => 6, :class_set => nil, :func_set => nil, :header_text => nil } %>
<!-- btn 結束 -->

<!-- btn 列表按鈕 -->
	<%= render :partial => "/Erb/module/list-text_btn", :locals => { :index => 7, :class_set => "right", :func_set => nil, :header_text => nil } %>
<!-- btn 結束 -->

<!-- btn 列表按鈕 -->
	<%= render :partial => "/Erb/module/list-text_btn", :locals => { :index => 8, :class_set => "center", :func_set => nil, :header_text => nil } %>
<!-- btn 結束 -->

<!-- btn 列表按鈕 -->
	<%= render :partial => "/Erb/module/list-text_btn", :locals => { :index => 9, :class_set => "justify", :func_set => nil, :header_text => nil } %>
<!-- btn 結束 -->

<div class="module-captions">//視訊================================================================</div>

<!-- area-customize_video 視訊 -->
	<%= render :partial => "/Erb/module/area-customize_video", :locals => { :index => 5, :class_set => nil, :func_set => nil, :header_text => "視訊", :show_footer => true } %>
<!-- area-customize_video 結束 -->

<div class="module-captions">//音訊================================================================</div>

<!-- area-customize_audio 音訊 -->
	<%= render :partial => "/Erb/module/area-customize_audio", :locals => { :index => 6, :class_set => nil, :func_set => nil, :header_text => "音訊", :show_footer => true } %>
<!-- area-customize_audio 結束 -->

<div class="module-captions">//框架================================================================</div>

<!-- area-customize_iframe 框架 -->
	<%= render :partial => "/Erb/module/area-customize_iframe", :locals => { :index => 7, :class_set => nil, :func_set => nil, :header_text => "框架", :show_footer => false } %>
<!-- area-customize_iframe 結束 -->

<div class="module-captions">//地圖================================================================</div>

<!-- map 地圖 -->
	<%= render :partial => "/Erb/module/area-customize_map", :locals => { :index => 5, :class_set => nil, :func_set => "{'map':{'height': '220px','set':{'center':{'lat':23.5825975,'lng':120.75},'scrollwheel':false,'styles':[],'zoom':6},'marker':[{'台中':{'lat':24.1477358,'lang':120.6736482,'msg':'說明文字'}},{'臺東':{'lat':23.15634,'lang':121.0961322551,'msg':'說明文字'}}]}}", :header_text => "地圖", :show_footer => true } %>
<!-- map 結束 -->

<div class="module-captions">//內頁列表================================================================</div>

<!-- default 預設 -->
	<%= render :partial => "/Erb/module/simple-text_default", :locals => { :index => 10, :class_set => nil, :func_set => nil, :header_text => "單則文字", :show_footer => true, :show_mark => true } %>
<!-- default 結束 -->

<!-- page-list 內頁文字列表 -->
	<%= render :partial => "/Erb/module/list-text_page-list" ,:locals => { :index => 11, :class_set => nil, :func_set => nil, :header_text => "內頁文字列表", :show_footer => true, :show_mark => true } %>
<!-- page-list 結束 -->

<!-- page-list-text 內頁文字列表群組 -->
	<%= render :partial => "/Erb/group/group-list_page-list-text", :locals => { :index => 12, :class_set => nil, :func_set => nil, :header_text => "內頁文字列表群組", :inner => "/Erb/module/list-text_page-list" } %>
<!-- page-list-text 結束 -->

<div class="module-captions">//內頁圖片================================================================</div>

<!-- default 預設 -->
	<%= render :partial => "/Erb/module/simple-pic_default", :locals => { :index => 13, :class_set => nil, :func_set => nil, :header_text => "單則圖片", :show_footer => true } %>
<!-- default 結束 -->

<!-- page-list 內頁圖片列表 -->
	<%= render :partial => "/Erb/module/list-pic_page-list", :locals => { :index => 14, :class_set => nil, :func_set => nil, :header_text => "內頁圖片列表" } %>
<!-- page-list 結束 -->

<!-- page-list-pic 內頁圖片列表群組 -->
	<%= render :partial => "/Erb/group/group-list_page-list-pic", :locals => { :index => 12, :class_set => nil, :func_set => nil, :header_text => "內頁圖片列表群組", :inner => "/Erb/module/list-pic_page-list" } %>
<!-- page-list-pic 結束 -->

<!-- page-block 內頁區塊 -->
	<%= render :partial => "/Erb/module/list-pic_page-block", :locals => { :index => 15, :class_set => nil, :func_set => "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", :header_text => "內頁圖片區塊列表", :show_footer => true } %>
<!-- page-block 結束 -->

<!--marquee 跑馬燈輪播 -->
	<%= render :partial => "/Erb/module/list-pic_page-marquee", :locals => { :index => 16, :class_set => nil, :func_set => "{'marqueeHorizontal':{'auto':false,'delay':5000,'speed':500}}", :header_text => "跑馬燈", :show_footer => true } %>
<!-- marquee 結束 -->

<div class="module-captions">//內頁圖片敘述================================================================</div>

<!-- page-figure 內頁圖片敘述(圖片-標題-標籤-內文) -->
	<%= render :partial => "/Erb/module/area-figure_page-figure", :locals => { :index => 17, :class_set => nil, :func_set => nil, :header_text => "內頁圖片敘述(圖片-標題-標籤-內文)", :show_footer => true } %>
<!-- page-figure 結束 -->

<!-- page-figure 內頁圖片敘述(圖片-標題-標籤) -->
	<%= render :partial => "/Erb/module/area-figure_page-image-figcaption-label", :locals => { :index => 17, :class_set => nil, :func_set => nil, :header_text => "內頁圖片敘述(圖片-標題-標籤)", :show_footer => true } %>
<!-- page-figure 結束 -->

<!-- page-figure 內頁圖片敘述(圖片-標題) -->
	<%= render :partial => "/Erb/module/area-figure_page-image-figcaption", :locals => { :index => 17, :class_set => nil, :func_set => nil, :header_text => "內頁圖片敘述(圖片-標題)", :show_footer => true } %>
<!-- page-figure 結束 -->

<!-- page-figure 內頁圖片敘述(圖片-標籤) -->
	<%= render :partial => "/Erb/module/area-figure_page-image-label", :locals => { :index => 17, :class_set => nil, :func_set => nil, :header_text => "內頁圖片敘述(圖片-標籤)", :show_footer => true } %>
<!-- page-figure 結束 -->

<!-- page-figure 內頁圖片敘述(圖片-標題-內文) -->
	<%= render :partial => "/Erb/module/area-figure_page-image-figcaption-paragraph", :locals => { :index => 17, :class_set => nil, :func_set => nil, :header_text => "內頁圖片敘述(圖片-標題-內文)", :show_footer => true } %>
<!-- page-figure 結束 -->

<!-- page-figure 內頁圖片敘述(圖片-標籤-內文) -->
	<%= render :partial => "/Erb/module/area-figure_page-image-label-paragraph", :locals => { :index => 17, :class_set => nil, :func_set => nil, :header_text => "內頁圖片敘述(圖片-標籤-內文)", :show_footer => true } %>
<!-- page-figure 結束 -->

<!-- page-figure 內頁圖片敘述(圖片-內文) -->
	<%= render :partial => "/Erb/module/area-figure_page-image-paragraph", :locals => { :index => 17, :class_set => nil, :func_set => nil, :header_text => "內頁圖片敘述(圖片-內文)", :show_footer => true } %>
<!-- page-figure 結束 -->

<div class="module-captions">//內頁文章敘述================================================================</div>

<!-- page-essay 內頁文章敘述(圖片-標題-標籤-內文) -->
	<%= render :partial => "/Erb/module/area-essay_page-essay", :locals => { :index => 19, :class_set => nil, :func_set => nil, :header_text => "內頁文章敘述(圖片-標題-標籤-內文)", :show_footer => true } %>
<!-- page-essay 結束 -->

<!-- page-caption-label-paragraph 內頁文章敘述(圖片-標題-標籤) -->
	<%= render :partial => "/Erb/module/area-essay_page-image-caption-label", :locals => { :index => 19, :class_set => nil, :func_set => nil, :header_text => "內頁文章敘述(圖片-標題-標籤)", :show_footer => true } %>
<!-- page-caption-label-paragraph 結束 -->

<!-- page-image-caption-paragraph 內頁文章敘述(圖片-標題-內文) -->
	<%= render :partial => "/Erb/module/area-essay_page-image-caption-paragraph", :locals => { :index => 19, :class_set => nil, :func_set => nil, :header_text => "內頁文章敘述(圖片-標題-內文)", :show_footer => true } %>
<!-- page-caption-label-paragraph 結束 -->

<!-- page-caption-label-paragraph 內頁文章敘述(標題-標籤-內文) -->
	<%= render :partial => "/Erb/module/area-essay_page-caption-label-paragraph", :locals => { :index => 19, :class_set => nil, :func_set => nil, :header_text => "內頁文章敘述(標題-標籤-內文)", :show_footer => true } %>
<!-- page-caption-label-paragraph 結束 -->

<!-- page-caption-label 內頁文章敘述(標題-標籤) -->
	<%= render :partial => "/Erb/module/area-essay_page-caption-label", :locals => { :index => 19, :class_set => nil, :func_set => nil, :header_text => "內頁文章敘述(標題-標籤)", :show_footer => true } %>
<!-- page-caption-label 結束 -->

<!-- page-caption-paragraph 內頁文章敘述(標題-內文) -->
	<%= render :partial => "/Erb/module/area-essay_page-caption-paragraph", :locals => { :index => 19, :class_set => nil, :func_set => nil, :header_text => "內頁文章敘述(標題-內文)", :show_footer => true } %>
<!-- page-caption-paragraph 結束 -->

<div class="module-captions">//內頁敘述群組================================================================</div>

<!-- group-list_page-block 內頁區塊群組 -->
	<%= render :partial => "/Erb/group/group-list_page-block", :locals => { :index => 20, :class_set => nil, :func_set => nil, :header_text => "內頁區塊群組", :show_footer => false, :inner => "/Erb/module/area-figure_page-figure" } %>
<!-- group-list_page-essay 結束 -->

<!-- group-list_page-list 內頁列表群組 -->
	<%= render :partial => "/Erb/group/group-list_page-list", :locals => { :index => 18, :class_set => nil, :func_set => nil, :header_text => "內頁列表群組", :show_footer => true, :inner => "/Erb/module/area-figure_page-image-figcaption-paragraph" } %>
<!-- page-figure 結束 -->

<!-- group-list_page-block 內頁區塊群組 -->
	<%= render :partial => "/Erb/group/group-list_page-block", :locals => { :index => 20, :class_set => nil, :func_set => nil, :header_text => "內頁區塊群組", :show_footer => false, :inner => "/Erb/module/area-essay_page-caption-label-paragraph" } %>
<!-- group-list_page-essay 結束 -->

<!-- group-list_page-list 內頁列表群組 -->
	<%= render :partial => "/Erb/group/group-list_page-list", :locals => { :index => 18, :class_set => nil, :func_set => nil, :header_text => "內頁列表群組", :show_footer => true, :inner => "/Erb/module/area-essay_page-essay" } %>
<!-- page-figure 結束 -->