<%
	min_li = 1 #最少的li數量
	max_li = 10 #最多的li數量

	li_length = rand( max_li - min_li ) + min_li
%>

<% if ( li_length > 0 ) %>
	<div class="group-list default <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $list %>" data-child="<%= li_length %>" <% if func_set %> data-function="<%= func_set %>"<% end %> ><div class="inner">
		<div class="header"><div class="inner">
			<h3><span><a><% if header_text %><%= header_text %><% end %></a></span></h3>
		</div></div>
		<div class="content"><div class="inner">
			<ul data-index="1" data-child="<%= li_length %>">

				<% li_length.times do |i| %>
					<li data-index="<%= i + 1 %>">

					<!-- <%= inner %> -->
						<%= render :partial => inner, :locals => { :index => 4, :class_set => 'new_class', :child => 0, :func_set => nil, :header_text => (zh_lorem_words rand(5)+1), :show_footer => false, :show_mark => false, :inner => "/Erb/module/simple-pic_default", :inner_len => 2 } %>
					<!-- <%= inner %> 結束 -->
					
					</li>
				<% end %>
			</ul>
		</div></div>
	</div></div>
<% end %>