<div class="group light-box <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $row %>" data-child="1" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h3><span><a href="#"><%= header_text %></a></span></h3>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">

	<!-- marquee-slider 跑馬燈輪播 -->
		<%= render partial: "/erb/group/group-list_marquee-slider", locals: set({ index: 1, func_set: "{'marqueeHorizontal':{'auto':false,'delay':5000,'speed':500}}", header_text: "輪播" }) %>
	<!-- marquee-slider 結束 -->

	</div></div>
</div></div>