<%
	img = lorem_image('640x320')
%>

<div class="area-customize pchouse-album02 <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<a class="div" href="#">
			<div class="img">
				<span style="background-image: url('http://decomyplace.com/img/blog/130312_karimoku_0.jpg')"><img src="http://decomyplace.com/img/blog/130312_karimoku_0.jpg" alt=""></span>
			</div>
			<div class="label">
				<ul>
					<li><span>卫浴导购</span></li>
				</ul>
			</div>
			<div class="essay">
				<div class="caption">
					<span>用洁具营造惬意简欧风</span>
				</div>
				<div class="p">
					<p><span>欧式装修强调以华丽的装饰、浓烈的色彩、精美的造型达到雍容华贵的装饰效果。如果你喜...</span></p>
				</div>
			</div>
		</a>
		<div class="list">
			<ul>
				<li><span><a href="#"><i class="mark">卫浴</i>个性化卫浴产品随你挑</a></span></li>
				<li><span><a href="#"><i class="mark">卫浴</i>个性化卫浴产品随你挑</a></span></li>
				<li><span><a href="#"><i class="mark">卫浴</i>个性化卫浴产品随你挑</a></span></li>
				<li><span><a href="#"><i class="mark">卫浴</i>个性化卫浴产品随你挑</a></span></li>
				<li><span><a href="#"><i class="mark">卫浴</i>个性化卫浴产品随你挑</a></span></li>
			</ul>
		</div>
	</div></div>
</div></div>