<%
	img = lorem_image('480x320')
%>

<div class="area-customize korea-pic-slider <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<div class="slider-box">
			<div class="pic-area">
				<a href="#" class="div">
					<div class="img"><span style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b5/Plain_Tiger_I_IMG_4687.jpg')"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Plain_Tiger_I_IMG_4687.jpg"></span></div>
					<div class="essay">
						<div class="figcaption"><span>第一章標題</span></div>
						<div class="p">
							<p><span>第一張說明</span></p>
						</div>
					</div>
				</a>
			</div>
			<div class="list-area">
				<ul>
					<li>
						<a href="#1">
							<span style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b5/Plain_Tiger_I_IMG_4687.jpg')"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Plain_Tiger_I_IMG_4687.jpg" alt="第一張說明" title="第一章標題"></span>
						</a>
					</li>
					<li>
						<a href="#2">
							<span style="background-image: url('https://s-media-cache-ak0.pinimg.com/originals/6d/0c/a2/6d0ca297890cc1075ab2bfde1d471713.jpg')"><img src="https://s-media-cache-ak0.pinimg.com/originals/6d/0c/a2/6d0ca297890cc1075ab2bfde1d471713.jpg" alt="第二張說明" title="第二張標題"></span>
						</a>
					</li>
					<li>
						<a href="#3">
							<span style="background-image: url('https://www.colourbox.dk/preview/4268640-close-up-of-a-north-american-monarch-butterfly.jpg')"><img src="https://www.colourbox.dk/preview/4268640-close-up-of-a-north-american-monarch-butterfly.jpg" alt="第三張說明" title="第三張標題"></span>
						</a>
					</li>
					<li>
						<a href="#4">
							<span style="background-image: url('http://www.learnaboutbutterflies.com/Tithorea%20tarricina%20parola%204507-001a.jpg')"><img src="http://www.learnaboutbutterflies.com/Tithorea%20tarricina%20parola%204507-001a.jpg" alt="第四張說明" title="第四張標題"></span>
						</a>
					</li>
					<li>
						<a href="#5">
							<span style="background-image: url('http://www.learnaboutbutterflies.com/Godyris%20zavaleta%201811-001b.jpg')"><img src="http://www.learnaboutbutterflies.com/Godyris%20zavaleta%201811-001b.jpg" alt="第五張說明" title="第五張標題"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div></div>
</div></div>