<div class="group base-mobile" id="base-mobile" data-index="<%= index %>" data-type="<%= $row %>" data-child="2"><div class="in">
	<div class="ct"><div class="in">

	<!-- btn 按鈕 -->
		<%= render partial: "/erb/simple-text_btn", locals: set({ index: 1, func_set: "{'toggleBtn':{'bindNode':'.ct','targetNode':'.base-mobile','targetClass':'is-open'}}", header_text: "收合側欄" }) %>
	<!-- btn 結束 -->

	<!-- group-info 資訊群組 -->
		<div class="group info" data-index="2" data-type="<%= $row %>" data-child="2"><div class="in">
			<div class="ct"><div class="in">

			<!-- search 搜尋 -->
				<%= render partial: "/erb/area-form_search", locals: set({ index: 1, header_text: "搜尋" }) %>
			<!-- search 結束 -->

			<!-- share 分享 -->
				<%= render partial: "/erb/list-text_share", locals: set({ index: 2, header_text: "分享" }) %>
			<!-- share 結束 -->

			<!-- nav 選單 -->
				<%= render partial: "/erb/group-list_nav", locals: set({ index: 3, func_set: "{'majorNavMobile':{}}", header_text: "主選單", inner: "/erb/list-text_nav" }) %>
			<!-- nav 結束 -->

			<!-- hot-key-word 熱門關鍵字 -->
				<%= render partial: "/erb/list-text_hot-key-word", locals: set({ index: 4 }) %>
			<!-- hot-key-word 結束 -->

			<!-- link 連結 -->
				<%= render partial: "/erb/list-text_link", locals: set({ index: 5 }) %>
			<!-- link 結束 -->

			<!-- member -->
			<div class="area-customize member" data-index="7" data-type="0" data-child="1"><div class="in"><div class="ct"><div class="in"><div>
    <ul>
        <li class="login"><a onkeypress="this.click();" href="https://www.cp.gov.tw/portal/Clogin.aspx?ReturnUrl=https://2016gov.hamastar.com.tw">會員登入</a></li>
        <li class="join"><a onkeypress="this.click();" target="_blank" href="https://www.cp.gov.tw/portal/Personal/registerBoth.aspx">加入會員</a></li>
        <li class="zone"><a onkeypress="this.click();" href="#">我的專區</a></li>
        <li class="logout"><a onkeypress="this.click();" href="C_MyLogout.aspx">會員登出</a></li>
    </ul>
</div>
</div></div></div></div>

			<!-- member 結束 -->
			<!-- 切回電腦版 開始-->
			<div class="area-customize backPC">
				<a class="btn" href="#">電腦版</a>
			</div>

			<!-- 切回電腦版 結束-->

			</div></div>
		</div></div>
	<!-- group-info 結束 -->

	</div></div>
</div></div>
