<div class="simple-text test-require <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" data-func="{'testRequire':{'opt':'sampleData'}}"><div class="in">
	<div class="ct"><div class="in">
		<span>erb 引數內容列表：</span><br />
		<br />
		<span>index => <%= index %></span><br />
		<span>class_set => <%= class_set %></span><br />
		<span>child => <%= child %></span><br />
		<span>func_set => <%= func_set %> <i>#此檔案模塊的 data-func 參數並非由此傳入</i></span><br />
		<span>header_text => <%= header_text %></span><br />
		<span>access_key => <%= access_key %></span><br />
		<span>access_title => <%= access_title %></span><br />
		<span>inner => <%= inner %></span><br />
		<span>inner_len => <%= inner_len %></span><br />
		<br />
		<br />
		<span>javascript 測試：</span><br />
		<br />
		<span>請打開開發人員工具 -> 主控台，觀察 testRequire.js 是否正常執行。</span>
	</div></div>
</div></div>