<div class="area-customize iframe <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-function="<%= func_set %>"<% end %> ><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<div class="iframe">
			<iframe src="https://www.youtube.com/embed/jO66_VQRHP4" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="essay">
			<div class="caption"><span><%= zh_lorem_sentence %></span></div>
			<div class="label">
				<ul>
					<li><span><i class="mark">103-12-05</i></span></li>
				</ul>
			</div>
			<div class="paragraph">
				<p><span><%= zh_lorem_paragraph %></span></p>
			</div>
		</div>
	</div></div>
	
	<% if show_footer %>
		<div class="footer"><div class="inner">
			<ul data-index="1" data-child="1">
				<li data-index="1" class="more"><span><a href="#">更多</a></span></li>
			</ul>
		</div></div>
	<% end %>
</div></div>