<%
	min_li = 3 #最少的li數量
	max_li = 6 #最多的li數量

	# li_length = (min_li..max_li).to_a.sample
	li_length = 4
%>

<div class="area-customize pic-slider-01 <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<div class="flexslider">
			<ul class="slides">

				<% li_length.times do |i| %>
					<% img = $sample_m_pic.sample %>
				
					<li data-thumb="<%= img %>">
						<img src="<%= img %>" />
					</li>
				<% end %>
			</ul>
		</div>
	</div></div>
</div></div>