<%
	max_paragraph_size = 1 #最少的段落長度
	min_paragraph_size = 5 #最多的段落長度
	min_paragraph = 1 #最少的段落
	max_paragraph = 6 #最多的段落

	paragraph_length = (min_paragraph..max_paragraph).to_a.sample
%>

<div class="area-essay captions <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<div class="hd"><div class="in">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="ct"><div class="in">

		<% paragraph_length.times do |i| %>
			<p><%= zh_lorem_paragraphs (min_paragraph_size..max_paragraph_size).to_a.sample %></p>
		<% end %>
	</div></div>
</div></div>