<%
	img = $sample_m_pic.sample
%>

<div class="area-figure page-image-paragraph <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-function="<%= func_set %>"<% end %> ><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<a href="#" class="divition">
			<div class="image"><span style="background-image: url('<%= img %>')"><img src="<%= img %>" alt=""></span></div>
			<div class="paragraph">
				<p><span><%= zh_lorem_paragraph %></span></p>
			</div>
		</a>
	</div></div>
	
	<% if show_footer %>
		<div class="footer"><div class="inner">
			<ul data-index="1" data-child="1">
				<li class="more" data-index="1"><span><a href="#">更多</a></span></li>
			</ul>
		</div></div>
	<% end %>
</div></div>