<%
	min_li = 2 #最少的li數量
	max_li = 10 #最多的li數量

	li_length = (min_li..max_li).to_a.sample

	imgs = []

	li_length.times do |i|
		imgs[i] = $sample_m_pic.sample
	end
%>

<div class="area-customize pic-slider-03 <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<div class="flexslider flexslider-slider">
			<ul class="slides">

				<% li_length.times do |i| %>
					<li>
						<img src="<%= imgs[i] %>" />
					</li>
				<% end %>
				<!-- items mirrored twice, total of 12 -->
			</ul>
		</div>
		<div class="flexslider flexslider-carousel">
			<ul class="slides">

				<% li_length.times do |i| %>
					<li>
						<img src="<%= imgs[i] %>" />
					</li>
				<% end %>
				<!-- items mirrored twice, total of 12 -->
			</ul>
		</div>
	</div></div>
</div></div>