<%
	min_paragraph = 1 #最少的段落
	max_paragraph = 6 #最多的段落
	paragraphs_length = 3 #隨機的段落長度 * 3

	paragraph_length = (min_paragraph..max_paragraph).to_a.sample
%>

<div class="area-editor user-edit <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-function="<%= func_set %>"<% end %> ><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="content"><div class="inner">

		<% paragraph_length.times do |i| %>
			<p><%= zh_lorem_paragraphs paragraphs_length %></p>
		<% end %>
	</div></div>
</div></div>