<%
	img = $sample_m_pic.sample
%>

<div class="area-figure page-image-paragraph <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<div class="hd"><div class="in">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="ct"><div class="in">
		<a href="#" class="div">
			<div class="img"><span style="background-image: url('<%= img %>')"><img src="<%= img %>" alt=""></span></div>
			<div class="p">
				<p><span><%= zh_lorem_paragraph %></span></p>
			</div>
		</a>
	</div></div>
	
	<% if show_footer %>
		<div class="ft"><div class="in">
			<ul data-index="1" data-child="1">
				<li data-index="1" class="more"><span><a href="#">更多</a></span></li>
			</ul>
		</div></div>
	<% end %>
</div></div>