<%
	min_li = 4 #最少的li數量
	max_li = 10 #最多的li數量

	li_length = rand( max_li - min_li ) + min_li
%>

<div class="list-pic extend <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-function="<%= func_set %>"<% end %> ><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<ul data-index="1" data-child="<%= li_length %>">

			<% li_length.times do |i| %>
				<% img = $sample_m_pic[rand($sample_m_pic.length)] %>

				<li data-index="<%= i + 1 %>"><span style="background-image: url('<%= img %>')"><a href="#"><img src="<%= img %>" alt=""></a></span></li>
			<% end %>
		</ul>
	</div></div>
</div></div>