<div class="list-text user-tool <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<ul data-index="1" data-child="7">
			<li data-index="1" class="login"><span><a href="#">登入</a></span></li>
			<li data-index="2" class="logout"><span><a href="#">登出</a></span></li>
			<li data-index="3" class="edit"><span><a href="#">編輯</a></span></li>
			<li data-index="4" class="print"><span><a href="#">列印</a></span></li>
			<li data-index="5" class="rss"><span><a href="#">RSS</a></span></li>
			<li data-index="6" class="json"><span><a href="#">JSON</a></span></li>
			<li data-index="7" class="xml"><span><a href="#">XML</a></span></li>
			<li data-index="8" class="csv"><span><a href="#">CSV</a></span></li>
			<li data-index="9" class="nav-edit"><span><a href="#">選單編輯</a></span></li>
			<li data-index="10" class="index-edit"><span><a href="#">首頁編輯</a></span></li>
			<li data-index="11" class="article-edit"><span><a href="#">文章編輯</a></span></li>
		</ul>
	</div></div>
</div></div>