<%
	min_li = 2 #最少的li數量
	max_li = 10 #最多的li數量

li_length = rand( max_li - min_li ) + min_li %>
<% this = rand( li_length ) %>

<div class="list-multiple page-click" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-function="<%= func_set %>"<% end %> ><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<ul data-index="1" data-child="2">
			<li class="first" data-index="1"><span><a href="#">最前頁</a></span></li>
			<li class="prev" data-index="2"><span><a href="#">上一頁</a></span></li>
		</ul>
		<ul data-index="2" data-child="2">
			<li class="next" data-index="1"><span><a href="#">下一頁</a></span></li>
			<li class="last" data-index="2"><span><a href="#">最後頁</a></span></li>
		</ul>
		<ul data-index="3" data-child="<%= li_length %>">

			<% li_length.times do |i| %>
				<li data-index="<%= i + 1 %>" <%if ( i == this ) %> class="is-active" <% end %> ><span><a href="#"><%= i + 1 %></a></span></li>
			<% end %>
		</ul>
	</div></div>
</div></div>