<div class="list-text share <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<ul data-index="1" data-child="5">
			<li data-index="1" class="facebook"><span><a target="_blank" href="http://www.facebook.com/share.php?u=網址" target="_blank" title="分享至 Facebook">Facebook</a></span></li>
			<li data-index="2" class="google"><span><a target="_blank" href="https://plus.google.com/share?url=網址" target="_blank" title="分享至 google+">Google</a></span></li>
			<li data-index="3" class="twitter"><span><a target="_blank" href="http://twitter.com/home?status=主題-網址" target="_blank" title="分享至 twitter">Twitter</a></span></li>
			<li data-index="4" class="line" title="分享至 Line"><span><a target="_blank" href="http://line.naver.jp/R/msg/text/?主題-網址">Line</a></span></li>
			<li data-index="5" class="email"><span><a target="_blank" href="mailto:?subject=主題&body=網址" title="透過 mail 分享">E-mail</a></span></li>
		</ul>
	</div></div>
</div></div>