<%
	min_li = 1 #最少的li數量
	max_li = 6 #最多的li數量
	min_text = 4 #最少的字元
	max_text = 8 #最多的字元

	li_length = rand( max_li - min_li ) + min_li
	random = rand( li_length )
%>

<div class="list-text minor-nav <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-function="<%= func_set %>"<% end %> ><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<ul data-index="1" data-child="<%= li_length %>">

			<% li_length.times do |i| %>
			
				<% if( i == random ) %>
					<li data-index="<%= i + 1 %>" class="is-active">
				<% else %>
					<li data-index="<%= i + 1 %>">
				<% end %>
				<span><a href="#"><%= zh_lorem_words rand( max_text - min_text ) + min_text %></a></span></li>
			<% end %>
		</ul>
	</div></div>
</div></div>