<%
	min_num = 1 #最少的數字
	max_num = 364 #最多的數字

	num = (min_num..max_num).to_a.sample
%>

<div class="simple-text countdown <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<% if header_text %>
		<div class="hd"><div class="in">
			<h4><span><a href="#"><%= header_text %></a></span></h4>
		</div></div>
	<% end %>
	<div class="ct"><div class="in">
		<span><%= num %></span>
	</div></div>
	
	<% if show_footer %>
		<div class="ft"><div class="in">
			<ul data-index="1" data-child="1">
				<li data-index="1"><span><a href="#"><%= zh_lorem_sentence %></a></span></li>
			</ul>
		</div></div>
	<% end %>
</div></div>