<div class="simple-text accesskey <% if class_set %><%= class_set %><% end %>" data-type="<%= $module %>"><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<span><a href="#" accesskey="<%= access_key %>" title="<%= access_title %>">:::</a></span>
	</div></div>
</div></div>