<div class="simple-text single-btn <% if class_set %><%= class_set %><% end %>" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-func="<%= func_set %>"<% end %> ><div class="in">
	<div class="hd"><div class="in">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="ct"><div class="in">
		<span><a href="#"></a></span>
	</div></div>
</div></div>