<div class="base-mobile" data-index="<%= index %>" data-type="3" data-child="2"><div class="inner">
	<div class="header"><div class="inner">
	</div></div>
	<div class="content"><div class="inner">

	<!-- single-btn 單獨按鈕 -->
		<%= render :partial => '/Module/simple-text_single-btn', :locals => { :index => 1 } %>
	<!-- single-btn 結束 -->

	<!-- group-info 資訊群組 -->
		<div class="group-info" data-index="2" data-type="3" data-child="2"><div class="inner">
			<div class="header"><div class="inner">
			</div></div>
			<div class="content"><div class="inner">

			<!-- search 搜尋 -->
				<%= render :partial => '/Module/area-form_search', :locals => { :index => 1 } %>
			<!-- search 結束 -->

			<!-- share 分享 -->
				<%= render :partial => '/Module/list-text_share', :locals => { :index => 2 } %>
			<!-- share 結束 -->

			<!-- group-list_nav 選單列表 -->
				<%= render :partial => '/Module/group-list_nav', :locals => { :index => 3 } %>
			<!-- group-list_nav 結束 -->

			</div></div>
		</div></div>
	<!-- group-info 結束 -->

	</div></div>
</div></div>