<div class="base-footer" data-index="<%= index %>" data-type="3" data-child="3"><div class="inner">
	<div class="header"><div class="inner">
	</div></div>
	<div class="content"><div class="inner">

	<!-- accesskey 導盲磚 -->
		<%= render :partial => '/Module/simple-text_accesskey', :locals => { :accesskey => 'Z', :title => '下方選單連結區，此區塊列有[意見信箱]、[資訊安全政策]、[隱私權政策]等連結' } %>
	<!-- accesskey 結束 -->

	<!-- single-btn 單獨按鈕 -->
		<%= render :partial => '/Module/simple-text_single-btn', :locals => { :index => 1 } %>
	<!-- single-btn 結束 -->

	<!-- group-list_nav 選單列表 -->
		<%= render :partial => '/Module/group-list_nav', :locals => { :index => 4 } %>
	<!-- group-list_nav 結束 -->

	<!-- group-info 資訊群組 -->
		<div class="group-info" data-index="3" data-type="3" data-child="3"><div class="inner">
			<div class="header"><div class="inner">
			</div></div>
			<div class="content"><div class="inner">

			<!-- logo 標誌 -->
				<%= render :partial => '/Module/simple-pic_logo', :locals => { :index => 1, :src => '/Images/footer_logo.png', :alt => '共通平台 v2.0' } %>
			<!-- logo 結束 -->

			<!-- icon 各種標章 -->
				<%= render :partial => '/Module/list-pic_icon', :locals => { :index => 2 } %>
			<!-- icon 結束 -->

			<!-- group-msg-tool 資訊與工具群組 -->
				<div class="group-msg-tool" data-index="4" data-type="3" data-child="3"><div class="inner">
					<div class="header"><div class="inner">
					</div></div>
					<div class="content"><div class="inner">

					<!-- link 連結 -->
						<%= render :partial => '/Module/list-text_link', :locals => { :index => 1, :label => nil } %>
					<!-- link 結束 -->

					<!-- visit-count 瀏覽人次 -->
						<%= render :partial => '/Module/simple-text_visit-count', :locals => { :index => 2 } %>
					<!-- visit-count 結束 -->

					<!-- address 聯絡資訊編輯 -->
						<%= render :partial => '/Module/area-editor_address', :locals => { :index => 3 } %>
					<!-- address 結束 -->

					</div></div>
				</div></div>
			<!-- group-msg-tool 結束 -->

			</div></div>
		</div></div>
	<!-- group-info 結束 -->

	</div></div>
</div></div>