<div class="base-mobile" data-index="<%= index %>" data-type="<%= $row %>" data-child="2"><div class="inner">
	<div class="header"><div class="inner">
		<h3><span><a></a></span></h3>
	</div></div>
	<div class="content"><div class="inner">

	<!-- toogle-btn 收合按鈕 -->
		<%= render :partial => "/Erb/module/simple-text_toogle-btn", :locals => { :index => 1, :class_set => nil, :func_set => "{'toogleBtn':{'targetNode':'.base-mobile','targetClass':'is-open','thisClass':'is-active'}}", :header_text => "收合側欄" } %>
	<!-- toogle-btn 結束 -->

	<!-- group-info 資訊群組 -->
		<div class="group-info" data-index="2" data-type="<%= $row %>" data-child="2"><div class="inner">
			<div class="header"><div class="inner">
				<h3><span><a></a></span></h3>
			</div></div>
			<div class="content"><div class="inner">

			<!-- search 搜尋 -->
				<%= render :partial => "/Erb/module/area-form_search", :locals => { :index => 1, :class_set => nil, :func_set => nil, :header_text => "搜尋", :show_footer => true } %>
			<!-- search 結束 -->

			<!-- share 分享 -->
				<%= render :partial => "/Erb/module/list-text_share", :locals => { :index => 2, :class_set => nil, :func_set => nil, :header_text => "分享" } %>
			<!-- share 結束 -->

			<!-- group-list_nav 選單列表 -->
				<div class="group-list nav" data-index="4" data-type="<%= $list %>" data-child="3" data-function="{'majorNavMobile':{}}"><div class="inner">
					<div class="header"><div class="inner">
						<h3><span><a href="#">選單</a></span></h3>
					</div></div>
					<div class="content"><div class="inner">
						<ul data-index="1" data-child="3">
							<li data-index="1">

							<!-- hot-key-word 熱門關鍵字 -->
								<%= render :partial => "/Erb/module/list-text_hot-key-word", :locals => { :index => 1, :class_set => nil, :func_set => nil, :header_text => "熱門關鍵字" } %>
							<!-- hot-key-word 結束 -->

							</li>
							<li data-index="2">

							<!-- link 連結 -->
								<%= render :partial => "/Erb/module/list-text_link", :locals => { :index => 1, :class_set => nil, :func_set => nil, :header_text => "上方連結", :show_footer => false, :show_mark => false } %>
							<!-- link 結束 -->
							
							</li>
							<li data-index="3">

							<!-- link 連結 -->
								<%= render :partial => "/Erb/module/list-text_link", :locals => { :index => 1, :class_set => nil, :func_set => nil, :header_text => "下方連結", :show_footer => false, :show_mark => false } %>
							<!-- link 結束 -->

							</li>
						</ul>
					</div></div>
				</div></div>
			<!-- group-list_nav 結束 -->

			<!-- group-list_nav 選單列表 -->
				<%= render :partial => "/Erb/group/group-list_nav", :locals => { :index => 4, :class_set => nil, :func_set => "{'majorNavMobile':{}}", :header_text => "主選單" } %>
			<!-- group-list_nav 結束 -->

			</div></div>
		</div></div>
	<!-- group-info 結束 -->

	</div></div>
</div></div>