<div class="base-wrapper" data-index="<%= index %>" data-type="<%= $row %>" data-child="3"><div class="inner">
	<div class="header"><div class="inner">
	</div></div>
	<div class="content"><div class="inner">

	<!-- test 測試-->
		<%#= render :partial => "/Erb/sys/test" %>
	<!-- test 結束 -->
	
	<!-- base-header 頁首資訊 -->
		<%= render :partial => "/Erb/base/base-header", :locals => { :index => 1 } %>
	<!-- base-header 結束 -->

	<!-- base-content 主要內容 -->
		<%= render :partial => "/Erb/base/base-content_" + area, :locals => { :index => 2 } %>
	<!-- base-content 結束 -->

	<!-- base-footer 頁尾資訊 -->
		<%= render :partial => "/Erb/base/base-footer", :locals => { :index => 3 } %>
	<!-- base-footer 結束 -->

	</div></div>
</div></div>