<div class="group base-extend" id="base-extend" data-index="<%= index %>" data-type="<%= $row %>" data-child="5"><div class="in">
	<div class="ct"><div class="in">

	<!-- user-tool 使用者工具 -->
		<%= render partial: "/erb/module/list-text_user-tool", locals: set({ index: 1, header_text: "使用者工具" }) %>
	<!-- user-tool 結束 -->

	<!-- share 分享 -->
		<%= render partial: "/erb/module/list-text_share", locals: set({ index: 2, header_text: "分享" }) %>
	<!-- share 結束 -->

	<!-- target-btn 目標按鈕 -->
		<%= render partial: "/erb/module/simple-text_target-btn", locals: set({ index: 3, func_set: "{'anchor':{'bindNode':'body','speed':300}}", header_text: "回到最頂" }) %>
	<!-- target-btn 結束 -->

	<!-- query 詢問 -->
		<%= render partial: "/erb/module/simple-text_query", locals: set({ index: 4, func_set: "{'query':{'msg':'測試文字','speed':300,'interval':1,'cookieName':'test5','cookieValue':'_','hideBtn':true}}", header_text: "詢問" }) %>
	<!-- query 結束 -->

	</div></div>
</div></div>