<div class="base-header" data-index="<%= index %>" data-type="<%= $row %>" data-child="2"><div class="inner">
	<div class="header"><div class="inner">
		<h3><span><a></a></span></h3>
	</div></div>
	<div class="content"><div class="inner">

	<!-- accesskey 導盲磚 -->
		<%= render :partial => "/Erb/module/simple-text_accesskey", :locals => { :access_key => "U", :access_title => "上方選單連結區，此區塊列有本網站的主要連結", :class_set => nil, :header_text => '導盲磚' } %>
	<!-- accesskey 結束 -->

	<!-- group-info 資訊群組 -->
		<div class="group-info" data-index="1" data-type="<%= $row %>" data-child="2"><div class="inner">
			<div class="header"><div class="inner">
				<h3><span><a></a></span></h3>
			</div></div>
			<div class="content"><div class="inner">

			<!-- logo 主要標誌 -->
				<%= render :partial => "/Erb/module/simple-text_major-logo", :locals => { :index => 1, :class_set => nil, :func_set => nil, :header_text => '標誌' } %>
			<!-- logo 結束 -->

			<!-- group-msg-tool 資訊與工具群組 -->
				<div class="group-msg-tool" data-index="2" data-type="<%= $row %>" data-child="4"><div class="inner">
					<div class="header"><div class="inner">
						<h3><span><a></a></span></h3>
					</div></div>
					<div class="content"><div class="inner">

					<!-- link 連結 -->
						<%= render :partial => "/Erb/module/list-text_link", :locals => { :index => 1, :class_set => nil, :func_set => nil, :header_text => '上方連結', :show_footer => false, :show_mark => false } %>
					<!-- link 結束 -->

					<!-- font-size 字級 -->
						<%= render :partial => "/Erb/module/list-text_font-size", :locals => { :index => 2, :class_set => nil, :func_set => "{'fontSize':{'defaultItem': 'medium'}}", :header_text => '字級' } %>
					<!-- font-size 結束 -->

					<!-- hot-key-word 熱門關鍵字 -->
						<%= render :partial => "/Erb/module/list-text_hot-key-word", :locals => { :index => 3, :class_set => nil, :func_set => nil, :header_text => '熱門關鍵字' } %>
					<!-- hot-key-word 結束 -->

					<!-- search 搜尋 -->
						<%= render :partial => "/Erb/module/area-form_search", :locals => { :index => 4, :class_set => nil, :func_set => "{'showDataList':{}}", :header_text => '搜尋', :show_footer => true } %>
					<!-- search 結束 -->

					</div></div>
				</div></div>
			<!-- group-msg-tool 結束 -->

			</div></div>
		</div></div>
	<!-- group-info 結束 -->

	<!-- group-list_nav 選單列表 -->
		<%= render :partial => "/Erb/group/group-list_nav", :locals => { :index => 1, :class_set => nil, :func_set => "{'hud':{},'majorNavHorizontal':{}}", :header_text => '主選單' } %>
	<!-- group-list_nav 結束 -->
	
	</div></div>
</div></div>