<div class="base-aside" data-index="<%= index %>" data-type="<%= $row %>" data-child="2"><div class="inner">
	<div class="header"><div class="inner">
		<h3><span><a></a></span></h3>
	</div></div>
	<div class="content"><div class="inner">

	<!-- accesskey 導盲磚 -->
		<%= render :partial => "/Erb/module/simple-text_accesskey", :locals => { :access_key => "L", :access_title => "左方次要連結區，此區塊列有本網站的次要連結", :class_set => nil, :header_text => "導盲磚" } %>
	<!-- accesskey 結束 -->

	<!-- group-list_nav 選單列表 -->
		<%= render :partial => "/Erb/group/group-list_nav", :locals => { :index => 1, :class_set => nil, :func_set => "{'majorNavStraight':{}}", :header_text => "主選單", :inner => "/Erb/module/list-text_nav" } %>
	<!-- group-list_nav 結束 -->

	<!-- minor-nav 次選單 -->
		<%= render :partial => "/Erb/module/list-text_minor-nav", :locals => { :index => 2, :class_set => nil, :func_set => nil, :header_text => "次選單" } %>
	<!-- minor-nav 結束 -->

	</div></div>
</div></div>